body {
    min-height: none;
    background-color: #C0C0C0;
}

.jumbotron {
    padding: 2rem ;
    background-color: #C0C0C0 ;
}


#projects {
    background-color: #C0C0C0;
}
.info-panel img {
  width: 120px;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 3px;
}
