body {
    min-height: none;
    background-color: #C0C0C0;
}

.jumbotron {
    padding: 2rem ;
    background-color: #C0C0C0 ;
}


#projects {
    background-color: #C0C0C0;
}

.info-panel img {
  width: 130px;
  height: 130px;
  margin-top: 15px;
  margin-bottom: 3px;
}
